@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --gray-0: #ffffff;
    --gray-5: #f8f8f8;
    --gray-10: #f9f9f9;
    --gray-25: #dedede;
    --gray-70: #5b5b5b;

    --violent-10: #fdf6ff;
    --violent-20: #faeefe;
    --violent-30: #d6b1e2;
    --violent-40: #b946de;
    --violent-60: #9A53A2;
    --violent-80: #561a69;
    --violent-90: #3f184b;

    --pink-default: #ff2d9d;

    --radius: 0.5rem;
  }
}
